@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

.container-home {
  width: 100%;
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(https://d33wubrfki0l68.cloudfront.net/b48d3f70dffd76bf3152ad04e2cbb1261ef589c9/header.1af6756a.png);
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow: hidden !important;
  color: #fff;
  line-height: 2px;
}
.container-home h1 {
  font-size: 3rem;
  padding: 0;
  font-weight: bold;
  margin-left: 100px;
}
.container-home p {
  line-height: 25px;
  font-size: 1.1rem;
  margin-left: 100px;
}
.container-home .btn-documentation {
  background-color: #ea2845;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 15px 50px;
  margin: 10px 20px 0 0;
  font-size: 1.1rem;
  margin-left: 100px;
}
.container-home .btn-code {
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 15px 50px;
  margin: 10px 20px 0 0;
  font-size: 1.1rem;
  border: 1px solid #fff;
}

.container-targets {
  width: 100%;
  height: auto;
  padding: 20px 0 20px 0;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  background-color: #fff;
  color: #111111;
  text-align: center;
  overflow: hidden;
}
.container-targets .card {
  width: 300px;
}
.container-targets .card h3 {
  color: #ea2845;
  font-weight: bold;
}
.container-targets .card p {
  font-size: 1rem;
}

.container-learn {
  width: 100%;
  height: 65vh;
  background-image: url(https://d33wubrfki0l68.cloudfront.net/2e87d126358935e3c9984030c481fc79197e3daa/support.b363d5ad.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #ed1543;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
}
.container-learn .content-learn {
  width: 40%;
  padding-right: 20%;
}
.container-learn .content-learn h2 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.container-learn .content-learn p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.container-learn .content-learn .btn-learn {
  background-color: #fff;
  color: #ea2845;
  border: none;
  border-radius: 25px;
  padding: 15px 50px;
  margin: 10px 20px 0 0;
  font-size: 1.1rem;
  border: 1px solid #fff;
}

.container-live-preview {
  width: 100%;
  height: 110vh;
  background-color: #141414;
  text-align: center;
  color: #fff;
  padding: 20px 0;
}

.color-red {
  color: #ea2845;
}

.conferences {
  width: 100%;
  height: 110vh;
  background-color: #111111;
  text-align: center;
  color: #fff;
  padding: 20px 0;
}

.partners {
  width: 100%;
  height: 50vh;
  background-color: #fff;
  text-align: center;
  color: #111111;
  padding: 20px 0;
}
.partners h1 {
  font-size: 2rem;
  color: #ea2845;
  font-weight: bold;
  margin-bottom: 20px;
}
.partners p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.img-sponsors img {
  margin: 0 10px;
  filter: grayscale(1);
  opacity: 0.5;
  cursor: pointer;
}
.img-sponsors img:hover {
  filter: grayscale(0);
  opacity: 1;
}

.btn-sponsor {
  background-color: #ea2845;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 15px 50px;
  margin: 10px 20px 0 0;
  font-size: 1.1rem;
  margin-top: 20px;
}

.subscription {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  background-color: #eee;
  color: #111111;
}
.subscription h1 {
  font-size: 1.2rem;
  color: #ea2845;
  font-weight: bold;
}
.subscription p {
  font-size: 0.8rem;
}
.subscription input {
  width: 60%;
  border: none;
  padding: 10px;
  font-size: 1.1rem;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.subscription .btn-subscribe {
  padding: 10px;
  font-size: 1.1rem;
  background-color: #ea2845;
  color: #fff;
  border: none;
}

footer {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #C0C0C0;
  padding: 20px;
  text-align: center;
}
footer p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}
footer a {
  color: #C0C0C0;
  text-decoration: none;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  transition: all 0.5s linear;
}
nav .link {
  margin: 0 10px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}
nav .link:hover {
  color: #ed1543;
}

.navbar-scrolled {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.5s linear;
}
.navbar-scrolled .link {
  margin: 0 10px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: #111111;
}
.navbar-scrolled .link:hover {
  color: #ed1543;
}

img {
  margin-left: 80px;
}

.links {
  padding: 0 100px;
}

.video {
  border-radius: 2px;
  border-top: 2px solid #FF7800;
}

/*# sourceMappingURL=main.css.map */
